body {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, .card-body>.card-title {
  font-family: 'Roboto Slab', serif;
}

h2 {
  color: black;
}

.site-footer {
  background-color: rgb(0, 0, 0);
  padding: 20px 0;
}

.navbar {
  background-color: #080808;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.calendar-component {
  display: flex;
  justify-content: center;
}

.no-pad {
  padding: 0px !important;
}