body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>.card-title {
  font-family: sans-serif, cursive;;
}

h2 {
  color: black;
}

.site-footer {
  background-color: white;
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 10px;
  background-color: #000000;
}
.jumbotron h1 {
  color: white;
}
.jumbotron h2 {
  color: white;
}

.navbar {
  background-color: #f3f3eb;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.month {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  border: solid 1px black;
}

.day {
  text-align: right;
  font-weight: bold;
}

.calendar {
  block-size: 50px;
  border: solid 1px black;
  font-size: 10px;
}

.calendar-days {
  border:solid 1px black;
  font-size: 8px;
}

.pic{
  width: 100px;
  margin: 20px;
}

.review-card {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.review-header {
  border-radius: 15px 15px 0 0 !important;
}

.merch {
  width: 150px;
}

.card-shop {
  margin-top: 30px;
  margin-bottom: 30px;
}

.black {
  color: white;
  background-color: black;
}

.card {
  display: inline-block;
}

@media only screen and (min-width: 600px){
  .month {
      text-align: center;
      font-weight: bold;
      font-size: 25px;
  }
  
  .day {
      text-align: right;
      font-weight: bold;
  }
  
  .calendar {
      block-size: 120px;
      border:solid 1px black;
      font-size: 15px;
  }

  .calendar-days {
      border:solid 1px black;
      font-size: 15px;
  }

  .pic{
      width: 200px;
      margin: 20px;
  }

  .merch {
      width: 250px;
  }
}